<!DOCTYPE html>
<html>
<head>
	<title>Number Game</title>
</head>
<body>
	<% if params["guess"].to_i == number%>
		<p>the secret number is: <%= number %></p>
	<% end %>
	<p><%=params["guess"] + ": " + message%></p>
	<form>
		<input type="text" name="guess" />
		<input type="submit" value="Guess!" />
	</form>
</body>
</html>