<!DOCTYPE html>
<html>
<head>
	<title>Number Game</title>
</head>
<body>
	<div
	<%if message == "You got it!" %>
		style="background: green"
	<% elsif message.length > 10%>
		style="background: red"
	<%else%>
		style="background: #ffcccc">
	<%end%>
		<p><%=params["guess"] + ": " + message%></p>
	</div>
	<form>
		<input type="text" name="guess" />
		<input type="submit" value="Guess!" />
	</form>
</body>
</html>